*.xls

*/report/build/*
venv/*
Documentation/report/Report.fdb_latexmk
Documentation/report/Report.fls
Documentation/report/Report.aux
Documentation/report/Report.log
Documentation/report/Report.out
Documentation/report/Report.pdf
Documentation/report/Report.synctex.gz
*__pycache__*
.DS_Store
*.pyc
*.pyc
*.pyc
*.pyc
downloaded.csv
